@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

article {
    background-color: white;
}


div.page {
    margin-left: 50px;
}

a {
    color: black;
    text-decoration: none;
    /* font-size: 25px; */
}

a:hover {
    color: blue;
}

.title h1 {
    margin: 20px;
    text-align: left;
    font-size: 30px;
}

.title img {
    width: 500px;
    height: 300px;
    margin-left: 20px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

p {
   margin-left: 100px;
   margin-top: 20px;
}

/* Footer */

footer {
    margin-top: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    background: #2B2B2B;
    color: #EBE6E4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div {
    text-align: center;
    margin: 10px 30px 10px 30px;
}

.col-1 a {
    display:block;
    text-decoration: none;
    color:#EBE6E4;
    margin-bottom: 10px;
}

.col-2 {
    flex-grow: 1;
}

.col-3 a {
    display: block;
    text-decoration: none;
    color:#EBE6E4;
    margin-bottom: 10px;
}

footer div h3 {
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

form input {
    max-width: 800px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #EBE6E4;
    color: #EBE6E4;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.media {
    margin-top: 30px;
}

.media i {
    font-size: 28px;
    margin: 5px;
    cursor: pointer;
}