h1{
  text-align: center;
  background-color: #e4e4ce;
  height: 40px;
  
}

article {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    /* margin-bottom: 15%; */
}
  
  /* article>table {
    margin: 0 auto;
  } */
  
.totalPrice,button{
  text-align: end;
  margin: 20px;
}

  th,td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    width: 16.67%;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button.removeAll{
    margin: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #b73324;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.checkout{
    margin: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid black;
    color: #000;
    font-size: 16px;
    cursor: pointer;
  }

  button.removeAll:hover {
    background-color: #e38585;
  }

  button.checkout:hover {
    color: #ffffff;
    background-color: #000000;
  }

  button.HomeBtn{
    margin: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #baaea7;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  button.HomeBtn:hover {
    background-color: #697069;
  }

  #paymentAmount {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }

  
 
  /**
  * ! style rules for label ad some buttons
  **/

  .text-center{
    text-align: end;
    margin-bottom: 20px;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
  }
  
  .fa-minus{
    padding: 2px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .fa-plus{
    padding: 2px;
    cursor: pointer;
    border: 1px solid black;
  }