*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

/*article - information of membership*/
h1,h3,h4{
  text-align: center;
}

.container{
  width: 100%;
  background-color:#EBE6E4;
  padding-bottom: 2em;
  text-align: center;
}

.container ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container li{
  width: 50%;
  padding: 30px;
}

