/* Slides */
.wrapper, .slider{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -5px;
}

.slider {
    overflow: hidden;
}

.slider::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    height: 110.375vh;
    width: 100%;
    z-index: 10;
}

.slider .s_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .image-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 10;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    color: #333;
    background-color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    margin-top: 25px;
    transition: all 0.3s ease;
}

.image-data #countdown {
    font-size: 60px;
    font-weight: 500;
    color: #fff;
}

.image-data span.text {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

.image-data h2 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

a.button:hover {
    color: #fff;
    background-color: #c87e4f;
}

/* Footer */

.footer {
    margin-top: 20px;
    height: auto;
    padding: 20px;
    background: #2B2B2B;
    color: #EBE6E4;
    display: flex;
    justify-content: space-around;
}

.footer div{
    text-align: center;
    margin: 10px 30px 10px 30px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color:#EBE6E4;
    margin-bottom: 10px;
}

.col-1 a:hover {
    display: block;
    text-decoration: underline;
    color:#EBE6E4;
    margin-bottom: 10px;
}

.col-3 a {
    display: block;
    text-decoration: none;
    color:#EBE6E4;
    margin-bottom: 10px;
}

.col-3 a:hover {
    display: block;
    text-decoration: underline;
    color:#EBE6E4;
    margin-bottom: 10px;
}


.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 30px;
    letter-spacing: 5px;
}


.footer form input {
    max-width: 800px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #EBE6E4;
    color: #EBE6E4;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.media {
    margin-top: 30px;
}

.media i {
    font-size: 28px;
    margin: 5px;
    cursor: pointer;
}
