*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product{
    width:60%;
    
    display: flex;
}

.gallery{
    max-width: 650px;
    flex-basis: 50%;
    background: grey;
    transform: scale(0.99);
    box-shadow: -5px 5px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.gallery img{
    width: 100%;
}

/*details of the products*/
.details{
    flex-basis: 50%;
    background: white;
    padding: 30px;
    box-shadow: -3px 5px 10px 10px rgba(0, 0, 0, 0.1);
    
}

.details h1{
    color: #333;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: left;
}

.details h2{
    color:#555;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}

.details p{
    text-align: justify;
}

.details label{
    font-weight: bold;
    margin-right: 10px;
}

.details form{
    font-size: 15px;
    font-weight: 400;
}


.details .selection{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.details select{
    padding: 13px;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
    background: #eee;
    margin-bottom: 10px;
    width: 100%;
}

.details input[type=number]{
    background: #eee;
    border: 0;
    outline: 0;
    padding: 13px;
    border-radius: 12px;
    border: 1px solid black;
    width: 100%;
}

.details .buttons{
    display: flex;
    flex-direction: row;
}

.details .displayProduct{
    border: 2px solid black;
    color: #000;
    width: 50%;
}

.details .addToCart{
    margin-right: 20px;
    color: #333;
    background-color: white;
    border: 2px solid #c87e4f;
    width: 50%;
}

.details form button{
    display: inline-block;
    padding: 10px 10px;
    border-radius: 12px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    margin-top: 25px;
    transition: all 0.3s ease;
}

.details .addToCart:hover{
    color: #ffffff;
    background-color: #c87e4f;
}

.details .displayProduct:hover{
    color: #ffffff;
    background-color: #000000;
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px){ 
    
    .product{
        width:100%;
        /* max-width: 650px; */
        display: flex;
    }

    .gallery{
        width: 50%;
        max-width: 350px;
        background: grey;
        transform: scale(0.99);
        box-shadow: -5px 5px 10px 10px rgba(0, 0, 0, 0.1);
        display: flex;
    }
    
    .gallery img{
        width: 100%;
    }

    .details{
        max-width: 250px;
        /* width:100%; */
        background: white;
        padding: 20px;
        box-shadow: -3px 5px 10px 10px rgba(0, 0, 0, 0.1);
    }

    .details select{
        width: 100%;
    } 

    .details input[type=number]{
        width: 100%;
    }

    .details .selection{
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
    }

    .details .buttons{
        display: flex;
        justify-content: space-around;
    }

    .details .addToCart{
        margin-right: 20px;
    }
}
